<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Title of Home Page -->
    <title>Stroke Prediction: Charts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>

    <!-- nav bar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/">Stroke Prediction</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Info
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="/charts">Charts</a>
                        <a class="dropdown-item" href="/mlm">Machine Learning</a>
                        <a class="dropdown-item" href="/resources">Resources</a>
                        <a class="dropdown-item" href="/about">About Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/strokePredictor">Stroke Predictor</a>

                </li>
            </ul>
        </nav>
    </div>

    <!-- first container -->
    <div class="container">
        <!-- row #1 -->
        <div class="row">
            <!-- col 1 -->
            <div class="col-lg-1"></div>
            <!-- col 2 through 11 -->
            <div class="col-lg-10">
                <br><br>
                <center>
                    <h1>Data Anyalysis through Charts</h1>
                </center>
                <br><br>
            </div>
            <!-- col 12 -->
            <div class="col-lg-1"></div>
        </div>


    </div>

    <!-- age group analysis -->
    <center>
        <br>
        <h4>Age Groups: Complete Dataset vs. Stroke Victims</h4>
        <br>
        <img src="/static/images/Age Groups Analysis.png" alt="Age Groups Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> Those who did not have a stroke could be any age, while those who did have a 
            stroke are most heavily concentrated in the 50+ years age group. There is a smaller but still sizable number of people in the 
            range of 40-49 years old, and an even smaller but still sizable number of people in the range of 30-39 years old. Very few people 
            below the age of 30 had a stroke.</p>
        <br>
        <br>
    <!-- end age group analysis -->

    <!-- bmi stroke analysis -->
    <center>
        <br>
        <h4>BMI: Counts per BMI for Stroke Victims</h4>
        <br>
        <img src="/static/images/BMI - Stroke Analysis.png" alt="BMI Stroke Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> Those who did not have a stroke could have any BMI in the approximate range of 
            10 to 60. A smaller but still sizable number of people have a BMI exceeding 60 also did not have a strok. Very few people have a 
            BMI exceeding 72. Those who did have a stroke are concentrated in the approximate BMI range of 20 to 40. Very few people have a BMI 
            of less than 20. A smaller but still sizeable number of people exceed a BMI of 40, and no one has a BMI over 60.</p>
        <br>
        <br>
    <!-- end bmi stroke analysis -->

    <!-- bmi group analysis -->
    <center>
        <br>
        <h4>BMI Group: Complete Dataset vs. Stroke Victims</h4>
        <br>
        <img src="/static/images/BMI Group Analysis.png" alt="BMI Group Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> There are very few people who had a stroke with a BMI of less than 20.</p>
        <br>
        <br>
    <!-- end bmi group analysis -->

    <!-- bmi range analysis -->
    <center>
        <br>
        <h4>BMI Range: Complete Dataset vs. Stroke Victims</h4>
        <br>
        <img src="/static/images/BMI Range Analysis.png" alt="BMI Range Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> Those who did have a stroke are concentrated in the approximate BMI range of 
            20 to 40, where a BMI exceeding 40 is really where you start to see fewer people.</p>
        <br>
        <br>
    <!-- end bmi range analysis -->


    <!-- density age analysis -->
    <center>
        <br>
        <h4>Age: Complete Dataset vs. Stroke Victims</h4>
        <br><img src="/static/images/Density Chart - age.png" alt="Density Chart - Age"></center>
        <p class="chart-info"><strong>Observation: </strong> When looking at the full dataset, most people appear to have an age close to 51, 
            but when looking at only those who had a stroke, most people have an age close to 79.</p>
        <br>
        <br>
    <!-- end density age analysis -->

    <!-- density glucose level analysis -->
    <center>
        <br>
        <h4>Average Glucose Level: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Density Chart - avg_glucose_level.png" alt="Density Chart - Avg Glucose Level"></center>
        <p class="chart-info"><strong>Observations: </strong> When looking at the full dataset, most people appear to have an average glucose 
            level (AGL) of around 82.71.  When looking at only those who had a stroke, most people have an AGL close to 74.95. In both cases, 
            the frequency of AGLs drop sharply after this value, though there is a slight spike in frequency for individuals with an average 
            glucose level just over 160.</p>
        <br>
        <br>
    <!-- end density glucose level analysis -->

    <!-- density bmi analysis -->
    <center>
        <br>
        <h4>BMI: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Density Chart - bmi.png" alt="Density Chart - BMI"></center>
        <p class="chart-info"><strong>Observations: </strong> In the full dataset, most people appear to have a BMI close to 27.7. For those 
            who had a stroke, most people have a BMI close to 26.4.</p>
        <br>
        <br>
    <!-- end density bmi analysis -->

    <!-- ever married analysis -->
    <center>
        <br>
        <h4>Ever Married: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Ever Married Analysis.png" alt="Ever Married"></center>
        <p class="chart-info"><strong>Observation: </strong> Despite making up only about 64.37% of the complete dataset, those who have ever 
            been married make up about 89.78% of those who had a stroke.</p>
        <br>
        <br>
    <!-- end ever married analysis -->

    <!-- ever married analysis -->
    <center>
        <br>
        <h4>Gender: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Gender Analysis.png" alt="Gender Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> Males make up about 40.84% of the complete dataset, and about 44.96% of those who 
            had a stroke.</p>
        <br>
        <br>
    <!-- end ever married analysis -->

    <!-- glucose group analysis -->
    <center>
        <br>
        <h4>Glucose Group: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Glucose Group Analysis.png" alt="Glucose Group Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> Those who did not have a stroke could have any average glucose level (AGL) in 
            the approximate range of 60 to 270. A smaller but still sizable number of people exceed an AGL of 270. Those who did have a stroke 
            are concentrated in two separate ranges. The first range is from approximately 60 to approximately 120; the second range is from 
            approximately 180 to approximately 240.</p>
        <br>
        <br>
    <!-- end glucose group analysis -->


    <!-- heart disease analysis -->
    <center>
        <br>
        <h4>Heart Disease: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Heart Disease Analysis.png" alt="Heart Disease Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> Despite making up only about 4.75% of the complete dataset, those with heart disease 
            make up about 22.62% of those who had a stroke.</p>
        <br>
        <br>
    <!-- end heart disease analysis -->

    <!-- hypertension analysis -->
    <center>
        <br>
        <h4>Hypertension: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Hypertension Analysis.png" alt="Hypertension Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> Despite making up only about 9.36% of the complete dataset, those with hypertension 
            make up about 25.54% of those who had a stroke.</p>
        <br>
        <br>
    <!-- end hypertension analysis -->

    <!-- residence type analysis -->
    <center>
        <br>
        <h4>Residence Type: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Residence Type Analysis.png" alt="Residence Type Analysis"></center>
        <p class="chart-info"><strong>Observation: </strong> People with an urban residence type make up about 50.13% of the complete dataset, and 
            about 50.96% of those who had a stroke.</p>
        <br>
        <br>
    <!-- end residence type analysis -->

    <!-- smoking status analysis -->
    <center>
        <br>
        <h4>Smoking Status: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Smoking Status Analysis.png" alt="Smoking Status Analysis"></center>
        <p class="chart-info"><strong>Observations: </strong> Despite making up as much as about 53.32% of the complete dataset, those who have never 
            smoked make up only 44.51% of those who had a stroke.<br>
            Despite making up only about 24.89% of the complete dataset, those who formerly smoked make up about 34.64% of those who had a stroke.</p>
        <br>
        <br>
    <!-- end smoking status analysis -->


    <!-- work type analysis -->
    <center>
        <br>
        <h4>Work Type: Complete Dataset vs. Stroke Victims</h4>
        <img src="/static/images/Work Type Analysis.png" alt="Work Type Analysis"></center>
        <p class="chart-info"><strong>Observations: </strong> Despite making up only about 15.65% of the complete dataset, those who are self employed 
            make up about 32.06% of those who had a stroke.<br>          
            Despite making up as much as about 14.18% of the complete dataset, those whose work type is "children" make up only about 0.26% of those 
            who had a stroke.<br><br>
            Percent of people work type private (full dataset): 57.22<br>
            Percent of people work type private (only those with stroke): 56.32<br><br>
            Percent of people work type self employed (full dataset): 15.65<br>
            Percent of people work type self employed (only those with stroke): 32.06<br><br>
            Percent of people work type children (full dataset): 14.18<br>
            Percent of people work type children (only those with stroke): 0.26<br><br>
            Percent of people work type govt job (full dataset): 12.53<br>
            Percent of people work type govt job (only those with stroke): 11.37</p>
        <br>
        <br>
    <!-- end work type analysis -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="../static/js/app.js"></script>



</body>

<footer class="footer mt-auto py-3">
    <!-- <div class="container">
      <span class="text-muted"><p><center>Team 5
          University of Minnesota Boot Camp 2020
      </center></p></span> -->
    </div>
</footer>


</html>