<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Title of Home Page -->
    <title>Stroke Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>

    <!-- nav bar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/">Stroke Prediction</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Info
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="/charts">Charts</a>
                        <a class="dropdown-item" href="/data">Data</a>
                        <a class="dropdown-item" href="/about">About Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stroke_predictor">Stroke Predictor</a>

                </li>
            </ul>
        </nav>
    </div>

    <!-- first container -->
    <div class="container">
        <!-- row #1 -->
        <div class="row">
            <!-- col 1 through 3 -->
            <div class="col-lg-2">
            </div>
            <!-- col 4 through 9 -->
            <div class="col-lg-8">
                <br><br>
                <h1>
                    <center>History of Stroke</center>
                </h1>
                <br>
                <br>
                <p> Strokes, originally known as apoplexy, were discovered by the Greek physician Hippocrates over 2400
                    years ago. Greeks defined apoplexy as “struck down by violence.” This was because someone who
                    suffered from apoplexy suddenly developed paralysis and change in demeanor. <br><br>

                    It was not until the mid-1600s that Jacob Wepfer found there was bleeding in the brain in those who
                    suffered and died from apoplexy. Eventually in 1928, apoplexy was divided into two
                    categories: <i>Ischemic</i> and <i>Hemorrhagic</i>. <br><br>

                    Ischemic stroke occurs when blood clots lodge in the brain and is typically the most common type of
                    stroke. Hemorrhagic stroke occurs when blood vessels in the brain break open. Stroke continues to be
                    a leading cause of disability, however, 80% of strokes are preventable. There are five known risk
                    factors:

                <ul>
                    <li>Atrial fibrillation</li>
                    <li>Congestive heart failure</li>
                    <li>Diabetes</li>
                    <li>High blood pressure</li>
                    <li>A history of stroke or transient ischemic attack</li>
                </ul>

                The <a
                    href="https://www.stroke.org/en/about-stroke/stroke-symptoms?gclid=CjwKCAiA5IL-BRAzEiwA0lcWYkD0SaDni_FozKz_FJne89S2wKG2481mdz2cCDAwJN1iYDQR0-zA4BoCeYgQAvD_BwE">American
                    Stroke Association<a> has created an acronym to quickly spot stroke signs: <strong>F.A.S.T.</strong>
                        <br><br>
                        <strong>F:</strong> Face Drooping
                        <br>
                        <strong>A:</strong> Arm Weakness
                        <br>
                        <strong>S:</strong> Speech Difficulty
                        <br>
                        <strong>T:</strong> Time to Call 911
                        <br><br>
                        </p>
            </div>
            <row>
                <img src="https://www.stroke.org/-/media/stroke-images/about-the-american-stroke-association/2019-american-stroke-month-images/fletter.jpg?h=267&la=en&mw=450&w=267&hash=0D6C1EDC7E8B8C9D9C3568DFD52CB4F9FBDBCBAD"
                    alt="F">
                <img src="https://www.stroke.org/-/media/stroke-images/about-the-american-stroke-association/2019-american-stroke-month-images/aletter.jpg?h=267&la=en&mw=450&w=268&hash=6A09C7E1596F465FE7832ED417E12A69D5FAB4C5"
                    alt="A">
                <img src="https://www.stroke.org/-/media/stroke-images/about-the-american-stroke-association/2019-american-stroke-month-images/sletter.jpg?h=267&la=en&mw=450&w=268&hash=C863EA6C4163CA227EA753EA67AC1FBD05B4CAB1"
                    alt="S">
                <img src="https://www.stroke.org/-/media/stroke-images/about-the-american-stroke-association/2019-american-stroke-month-images/tletter.jpg?h=267&la=en&mw=450&w=266&hash=279DA8C3AAE2A61CC84C3A39B36EA5A3602687EE"
                    alt="F">
            </row>
            <row>
                <p>
                    <br><br><br><br><br><br>
                    References: 
                    <ul>
                        <li><a href="https://www.columbianeurology.org/neurology/staywell/history-stroke#:~:text=Hippocrates%2C%20the%20father%20of%20medicine,and%20change%20in%20well%2Dbeing.">Columbia University Department of Neurology</a></li>
                        <li><a href="https://www.healthline.com/health/stroke/history-of-stroke">Healthline</a></li>
                        <li><a href="https://www.stroke.org/en/about-stroke/stroke-symptoms?gclid=CjwKCAiA5IL-BRAzEiwA0lcWYkD0SaDni_FozKz_FJne89S2wKG2481mdz2cCDAwJN1iYDQR0-zA4BoCeYgQAvD_BwE">American Stroke Association</a></li>
                    </ul>
                </p>
            </row>
            <!-- col 10 through 12 -->
            <div class="col-lg-2">
            </div>
        </div>

    </div>



    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="../static/js/app.js"></script>



</body>

<footer class="footer mt-auto py-3">
    <!-- <div class="container">
      <span class="text-muted"><p><center>Team 5
          University of Minnesota Boot Camp 2020
      </center></p></span> -->
    </div>
</footer>


</html>