<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Title of Home Page -->
    <title>Stroke Prediction: Stroke Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>

    <!-- nav bar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/">Stroke Prediction</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Info
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="/charts">Charts</a>
                        <a class="dropdown-item" href="/mlm">Machine Learning</a>
                        <a class="dropdown-item" href="/resources">Resources</a>
                        <a class="dropdown-item" href="/about">About Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/strokePredictor">Stroke Predictor</a>

                </li>
            </ul>
        </nav>
    </div>


    <!-- first container -->
    <div class="container">
        <!-- row #1 -->
        <div class="row">
            <!-- col 1 through 2 -->
            <div class="col-lg-2">
            </div>
            <!-- col 3 through 10 -->
            <div class="col-lg-8">
                <div class="ML_inputs"></div>
                <br>
                <center>
                    <h1>Stroke Predictor</h1>
                </center>
            </div>
            <!-- col 11 through 12 -->
            <div class="col-lg-2">
            </div>
        </div>
        <!-- row #2 -->
        <div class="row">
            <!-- col 1 -->
            <div class="col-lg-1">
            </div>
            <!-- col 2 through 11-->
            <!-- where our input form will be -->
            <div class="col-lg-10">
                <p>
                    <center>Fill in your details below and click <strong>Submit Form</strong> to determine your
                        prediction.*</center>
                </p>
                                <br>
                <!-- Input section using form and post method -->
                <form action="{{url_for('strokePredictorData')}}" method="post" class="form">

                    <!-- gender input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Gender:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="gender">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsG" id="gender"
                                        value="1">
                                    <label class="form-check-label" for="gender">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsG" id="gender"
                                        value="0" checked>
                                    <label class="form-check-label" for="gender">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- hypertension input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Hypertension:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="hypertension">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHT"
                                        id="hypertension" value="1">
                                    <label class="form-check-label" for="hypertension">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHT"
                                        id="hypertension" value="0" checked>
                                    <label class="form-check-label" for="hypertension">No</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- heart disease input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Heart Disease:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="heartDisease">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHD"
                                        id="heartDisease" value="1">
                                    <label class="form-check-label" for="heartDisease">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHD"
                                        id="heartDisease" value="0" checked>

                                    <label class="form-check-label" for="heartDiseaseNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- ever married input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Ever Married:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="everMarried">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsEM"
                                        id="everMarried" value="1">
                                    <label class="form-check-label" for="everMarriedYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsEM"
                                        id="everMarried" value="0" checked>

                                    <label class="form-check-label" for="everMarriedNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- smoking status input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Smoking Status:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="SmokeStatus">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsES"
                                        id="everSmoke" value="0">
                                    <label class="form-check-label" for="neverSmokeYes">Never</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsES"
                                        id="everSmoke" value="1" checked>
                                    <label class="form-check-label" for="Former">Former</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsES"
                                        id="everSmoke" value="2" checked>
                                    <label class="form-check-label" for="Current">Current</label>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- residence type input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Residence Type:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="ResidenceStatus">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsRES"
                                        id="residence" value="0">
                                    <label class="form-check-label" for="Urban">Urban</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsRES"
                                        id="residence" value="1" checked>
                                    <label class="form-check-label" for="Rural">Rural</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- work type input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Work Type:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="workType">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsWOR" id="work"
                                        value="0">
                                    <label class="form-check-label" for="Private">Private</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsWOR" id="work"
                                        value="1" checked>
                                    <label class="form-check-label" for="Self">Self-Employed</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsWOR" id="work"
                                        value="2" checked>
                                    <label class="form-check-label" for="Child">Child</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsWOR" id="work"
                                        value="3" checked>
                                    <label class="form-check-label" for="Gov">Government</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsWOR" id="work"
                                        value="4" checked>
                                    <label class="form-check-label" for="Never">Never Worked</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- age, bmi, glucose input -->
                    <br>
                    <div class="form-row">

                        <!-- age input -->
                        <div class="form-group col-md-4">
                            <label for="ageInput">Age:</label>
                            <input type="text" name="Age" placeholder="Age" class="form-control" id="ageInput"
                                required="required" />

                        </div>

                        <!-- bmi input -->
                        <div class="form-group col-md-4">
                            <label for="bmiInput">BMI:</label>
                            <input type="text" name="BMI" placeholder="BMI" class="form-control" id="bmiInput"
                                required="required" />
                        </div>

                        <!-- glucose input -->
                        <div class="form-group col-md-4">
                            <label for="glucoseInput">Glucose Level:</label>
                            <input type="text" name="glucose" placeholder="glucose" class="form-control"
                                id="glucoseInput" required>
                        </div>

                    </div> <!-- close age, bmi, glucose input -->

                    <!-- <button type ="submit" class ="btn"> Predict</button> -->

                    <center><button class="btn btn-primary" id="predictorButton" type="submit">Submit Form</button>
                    </center>
                </form> <!-- close form -->
            </div> <!-- close col-10 -->
        </div> <!-- close row 2 -->
    </div> <!-- close container -->
    <!-- col 9 through 12 -->
    <div class="col-lg-12">
        <!-- possible output gif of results here -->
        <br>
        <center>
            <h3>Prediction Results:</h3>
        </center>
        
        <center><h4 id="prediction">{{ prediction_text }}</h4></center>
        <center>
            <img src= {{bunny_link}} width=350 height=200/>
        </center>

        <p id="disclaimer">*DISCLAIMER: This project is used for demonstrative and illustrative purposes only and does not constitute an offering that has gone through regulatory review. It is not intended to serve as a medical application. There is no representation as to the accuracy of the output of this application and it is presented without warranty express or implied.</p>

    </div>








    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="../static/js/app.js"></script>



</body>

<footer class="footer mt-auto py-3">
    <!-- <div class="container">
      <span class="text-muted"><p><center>Team 5
          University of Minnesota Boot Camp 2020
      </center></p></span> -->
    </div>
</footer>


</html>