<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Title of Home Page -->
    <title>Stroke Prediction: Stroke Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>

    <!-- nav bar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/index">Stroke Prediction</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Info
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="/charts">Charts</a>
                        <a class="dropdown-item" href="/data">Data</a>
                        <a class="dropdown-item" href="/about">About Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stroke_predictor">Stroke Predictor</a>

                </li>
            </ul>
        </nav>
    </div>

    <!-- first container -->
    <div class="container">
        <!-- row #1 -->
        <div class="row">
            <!-- col 1 through 2 -->
            <div class="col-lg-2">
            </div>
            <!-- col 3 through 10 -->
            <div class="col-lg-8">
                <br><br>
                <center>
                    <h1>Stroke Predictor</h1>
                </center>
                <br><br>
            </div>
            <!-- col 11 through 12 -->
            <div class="col-lg-2">
            </div>
        </div>
        <!-- row #2 -->
        <div class="row">
            <!-- col 1 through 2 -->
            <div class="col-lg-2">
            </div>
            <!-- col 3 through 10-->
            <!-- where our input form will be -->
            <div class="col-lg-8">
                <p>Fill in your details below and click <strong>Submit Form</strong> to determine your prediction.</p>
                <br>
                <!-- enter form here -->
                <div class="form-group">
                    <form id="form">
                    <!-- gender input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Gender:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="gender">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsG"
                                        id="gender" value="1">
                                    <label class="form-check-label" for="gender">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsG"
                                        id="gender" value="0" checked>

                                    <label class="form-check-label" for="gender">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hypertension input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Hypertension:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="hypertension">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHT"
                                        id="hypertension" value="1">
                                    <label class="form-check-label" for="hypertension">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHT"
                                        id="hypertension" value="0" checked>

                                    <label class="form-check-label" for="hypertension">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- heart disease input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Heart Disease:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="heartDisease">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHD"
                                        id="heartDisease" value="1">
                                    <label class="form-check-label" for="heartDisease">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsHD"
                                        id="heartDisease" value="0" checked>

                                    <label class="form-check-label" for="heartDiseaseNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ever married input here -->
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Ever Married:</legend>
                        <div class="col-sm-8">
                            <div class="form-check" id="everMarried">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsEM"
                                        id="everMarried" value="1">
                                    <label class="form-check-label" for="everMarriedYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsEM"
                                        id="everMarried" value="0" checked>

                                    <label class="form-check-label" for="everMarriedNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- smoking status input here -->
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Smoking Status:</label>

                            <select class="custom-select mr-sm-2" id="smokingStatusInput" required>
                                <option value="">Choose...</option>

                                <option value="0">Never Smoked</option>
                                <option value="1">Former Smoker</option>
                                <option value="2">Currently Smoke</option>
                            </select>
                        </div>
                    </div>
                    <!-- residence type input here -->
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Residence Type:</label>

                            <select class="custom-select mr-sm-2" id="residenceTypeInput" required>
                                <option value="">Choose...</option>

                                <option value="0">Urban</option>
                                <option value="1">Rural</option>
                            </select>
                        </div>
                    </div>
                    <!-- work type input here -->
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Work Type:</label>

                            <select class="custom-select mr-sm-2" id="workTypeInput" required>
                                <option value="">Choose...</option>

                                <option value="0">Private</option>
                                <option value="1">Self-Employed</option>
                                <option value="2">Child</option>
                                <option value="3">Government</option>
                                <option value="4">Never Worked</option>
                            </select>
                        </div>
                    </div>
                    <!-- age, bmi, glucose input -->
                    <div class="form-row">
                        <!-- age input -->
                        <div class="form-group col-md-3">
                            <label for="ageInput">Age:</label>

                            <input type="text" class="form-control" id="ageInput" required>

                        </div>
                        <!-- bmi input -->
                        <div class="form-group col-md-3">
                            <label for="bmiInput">BMI:</label>

                            <input type="text" class="form-control" id="bmiInput" required>

                        </div>
                        <!-- glucose input -->
                        <div class="form-group col-md-3">
                            <label for="glucoseInput">Glucose Level:</label>

                            <input type="text" class="form-control" id="glucoseInput" required>

                        </div>
                    </div> <!-- close age, bmi, glucose input -->
                    <center><button class="btn btn-primary" id="predictorButton" type="submit">Submit Form</button>
                    </center>
                    </form>
                </div> <!-- close form -->
            </div> <!-- close where our input form will be -->
        </div>
    </div>
    </div>
    <!-- col 9 through 12 -->
    <div class="col-lg-12">
        <!-- possible output gif of results here -->
        <br><br>
        <center>
            <h3>Prediction Results:</h3>
        </center>
        <br><br>
        <!-- <center>{{ prediction_text }}</center> -->
    </div>
    </div>

    </div>



    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="../static/js/app.js"></script>



</body>

<footer class="footer mt-auto py-3">
    <!-- <div class="container">
      <span class="text-muted"><p><center>Team 5
          University of Minnesota Boot Camp 2020
      </center></p></span> -->
    </div>
</footer>


</html>